*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #639;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.form-container {
   display: grid;
   place-items: center;
   height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 4rem;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

h1 {
    margin-bottom: 2.5rem;
}

.form-input {
    width: 100%;
    margin-bottom: 1.5rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8rem;
    cursor: pointer;
}

.form-newsletter {
    margin-bottom: 1.5rem;
}

.form-submit {
    width: 50%;
    padding: 0.8rem;
    border-radius: 5px;
    color: #fff;
    background-color: #639;
    border: none;
    cursor: pointer;
}